body {
  font-family: Arial, sans-serif;
}

.Home-container {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: antiquewhite;
}



.Home-carousel-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin-bottom: 20px;
}

/* Custom Carousel Image */
.custom-image {
  height: 400px; 
 
  object-fit: cover;
}

/* Icon Container */


.card-container div {
  margin: 0 10px;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.card-container div:hover {
  color: #007bff;
}


/* Search bar */
.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}



.button1 {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

/* Icon container */
.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Cards */
.Home-card-container {
  display: flex;
  justify-content:space-between;
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 0 10px;
  text-align: center;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* Ratings and comments */
.Home-details-container {
  text-align: center;
}





/* Additional styles can be added as needed */
.icon {
  color: #d0b200;
  font-size: 35px;
  margin: 15px;
}
